APP_ENV=dev
APP_SECRET=

###> doctrine/doctrine-bundle ###
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DATABASE=database_name
POSTGRES_USER=root
POSTGRES_PASSWORD=root
###< doctrine/doctrine-bundle ###

# MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
