APP_ENV=dev
APP_SECRET=

###> doctrine/doctrine-bundle ###
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DATABASE=database_name
POSTGRES_USER=root
POSTGRES_PASSWORD=root
###< doctrine/doctrine-bundle ###

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
