parameters:
    level: 6
    tmpDir: var/phpstan/
    paths:
        - bin/
        - config/
        - public/
        - src/
    excludePaths:
        - src/Infrastructure/Persistence/Rabbitmq/Consumer/ImageProcessingConsumer.php
